[init]
    defaultBranch = main
[core]
    editor = nano
    excludesfile = /Users/hikari/.config/git/ignore
[user]
    name = ryouze
    email = 98982999+ryouze@users.noreply.github.com
[credential]
    #helper = osxkeychain
    #helper = /usr/local/share/gcm-core/git-credential-manager
    helper = manager
[help]
    autocorrect = prompt
[fetch]
    prune = true
    pruneTags = true
[merge]
    ff = false
[pull]
    rebase = true
